[submodule "micronode-user"]
	path = micronode-user
	url = git@github.com:RikLakhe/micronode-user.git
[submodule "micronode-core"]
	path = micronode-core
	url = git@github.com:RikLakhe/micronode-core.git
[submodule "micronode-event"]
	path = micronode-event
	url = git@github.com:RikLakhe/micronode-event.git
[submodule "micronode-company"]
	path = micronode-company
	url = git@github.com:RikLakhe/micronode-company.git
[submodule "micronode-fe"]
	path = micronode-fe
	url = ./micronode-fe
